@import 'tailwindcss';
@import './styles/auth.css';
@import './styles/friends.css';

@theme {
  --color-background: #0f0e17;
  --color-background-secondary: #181720;
  --color-background-tertiary: #2f2e36;
  --color-button: #ff8906;
  --color-headline: #fffffe;
  --color-button-text: #fffffe;
  --color-button-text-dark: #000000;
  --color-paragraph: #a7a9be;
  --color-stroke: #000000;
  --color-main: #fffffe;
  --color-secondary: #f25f4c;
  --color-tertiary: #e53170;
  --color-highlight: #ff8906;
  --color-lp: #2abd69;
  --color-active: #2abd69;
  --color-attention: #bc2b07;
  --color-first-place: #ffd700;
  --color-second-place: #c0c0c0;
  --color-third-place: #cd7f32;
  --color-separator: #303030;
  --color-inactive-bg: #6a7282;
  --color-inactive-text: #d1d5dc;
}

@layer base{
    html {
        @apply bg-background;
    }
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-small .icon {
        display: none;
    }
}

@media (max-width: 785px) {
    .footer-names {
        flex-direction: row !important;
        gap: 20px; 
        justify-content: center; 
        padding-bottom: 20px;
    }

    .footer-content {
        display: block !important;
        width: 100%; 
    }

    footer {
        height: auto !important; 
    }

    .footer-right-section {
        flex-direction: column !important; 
        justify-content: center;
        align-items: center; 
        gap: 20px; 
    }

    .footer-social-media {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        gap: 10px; 
    }

    .footer-logo-email {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }

    .footer-logo {
        height: auto !important;
    }

    .footer-email {
        display: flex;
        justify-content: center;
    }

    .footer-names div {
      text-align: center;
    }
}

@media (max-width: 670px) {
    .hide-on-smaller {
        display: none; /* Only hides the WiFi section */
    }

    .header-elements {
        gap: 0px !important;
    }


}

@media (max-width: 450px) {
  .hide-on-mobile {
      display: none;
  }
}
