@import 'tailwindcss';

@theme {
  --color-background: #0f0e17;
  --color-button: #ff8906;
  --color-headline: #fffffe;
  --color-button-text: #fffffe;
  --color-paragraph: #a7a9be;
  --color-stroke: #000000;
  --color-main: #fffffe;
  --color-secondary: #f25f4c;
  --color-tertiary: #e53170;
  --color-highlight: #ff8906;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-small .icon {
        display: none;
    }
}

@media (max-width: 670px) {
    .hide-on-smaller {
        display: none;
    }

    /* .hide-on-smaller {
      padding-left: 20px;
    } */

    .header-elements {
        gap: 0px !important;
    }

    .user-info {
        display: none; 
    }
}

@media (max-width: 450px) {
  .hide-on-mobile {
      display: none;
  }
}