@import 'tailwindcss';

@theme {
  --color-background: #0f0e17;
  --color-button: #ff8906;
  --color-headline: #fffffe;
  --color-button-text: #fffffe;
  --color-paragraph: #a7a9be;
  --color-stroke: #000000;
  --color-main: #fffffe;
  --color-secondary: #f25f4c;
  --color-tertiary: #e53170;
  --color-highlight: #ff8906;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-small .icon {
        display: none;
    }
}

@media (max-width: 785px) {
    .footer-names {
        flex-direction: row !important; /* Display names in one line */
        gap: 20px; /* Add spacing between names */
        justify-content: center; /* Center-align names */
        padding-bottom: 20px;
    }

    .footer-content {
        display: block !important; /* Change to block layout */
        width: 100%; /* Ensure full width */
    }

    footer {
        height: auto !important; /* Allow footer to adjust its height */
    }

    .footer-right-section {
        flex-direction: column !important; /* Stack social links and logo+email vertically */
        justify-content: center; /* Center-align content */
        align-items: center; /* Align items vertically */
        gap: 20px; /* Add spacing between sections */
    }

    .footer-social-media {
        display: flex;
        flex-direction: row; /* Ensure social links are in one line */
        justify-content: center;
        gap: 10px; /* Add spacing between social links */
    }

    .footer-logo-email {
        display: flex;
        flex-direction: column; /* Stack logo and email vertically */
        align-items: center;
        gap: 10px; /* Add spacing between logo and email */
    }

    .footer-logo {
        height: auto !important;
    }

    .footer-email {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 670px) {
    .hide-on-smaller {
        display: none;
    }

    /* .hide-on-smaller {
      padding-left: 20px;
    } */

    .header-elements {
        gap: 0px !important;
    }

    .user-info {
        display: none; 
    }
}

@media (max-width: 450px) {
  .hide-on-mobile {
      display: none;
  }
}